RAPIDAPI_KEY=replace_with_your_rotated_key

RAPIDAPI_HOST=real-time-amazon-data.p.rapidapi.com
RAPIDAPI_URL=https://real-time-amazon-data.p.rapidapi.com/search

RAPIDAPI_FASHION_HOST=asos10.p.rapidapi.com
RAPIDAPI_FASHION_URL=https://asos10.p.rapidapi.com/api/v1/getProductListBySearchTerm
